@model List<SludinajumuPortals.Logic.Category>  
@{
    ViewData["Title"] = "Kategorijas";
}


    @if(Context.Session.GetUserId().HasValue)
    { 
        <div class="row">
            <div class="col-md-12">
                <p class="text-right">
                    <a asp-controller="Ad" asp-action="Create" class="btn btn-default btn-sm">Pievienot sludinājumu</a>
                </p>
            </div>
        </div>
    }
    <div class="row">

        @foreach (var category in Model.Where(i => !i.CategoryId.HasValue))
        {
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        @category.Title
                    </a>
                    @foreach (var subcategory in Model.Where(r => r.CategoryId == category.Id))
                    {
                        <a asp-controller="Ad" asp-action="Index" asp-route-id="@subcategory.Id" class="list-group-item">
                            @subcategory.Title
                            <span class="badge">@subcategory.AdCount</span>
                        </a>
                    }
                </div>
            </div>
         }
    </div>
        




